body {background-color: cadetblue;
    font: normal 12pt Arial;
    text-align: center;
}
header{ color: white;

}
section{font: normal 12pt Arial;
    background-color: white;
    border-radius: 10px;
    width: 500px;
    padding: 1px;
    margin: auto;
    box-shadow: 5px 5px 10px black;
}
div{

font: normal 15pt Arial
}
footer{
text-align: center;
color: white;
font: normal 15pt Arial;
}